<div class="background example-card2 div" style="background-image: url('/assets/bckg.jpg')">
  <div class="text-center" *ngIf="isLogged; else loggedOut">
  </div>
  <ng-template #loggedOut>
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div align="center">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title style="color: deepskyblue"><h1>Login</h1></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="user" formControlName="username" matInput >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="password" formControlName="password" matInput type="password" >
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Log In</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </form>
  </ng-template>

</div>

