.layout-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  width: 97%;
  overflow-x: hidden;
}

.add-container {
  flex: 1;
  margin-right: 10px;
}

.table-container {
  flex: 3;
  margin-right: 20px;
}

.card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-table {
  width: 100%;
  box-sizing: border-box;
}

